#agogo-chase-agogo {
    position: fixed;
    height: 96px;
    width: 96px;
}

#agogo-chase-chair {
    position: fixed;
    height: 192px;
    width: 120px;
    visibility: hidden;
    background: url(../images/chair.svg);
}

.agogo-chase-grass {
    position: fixed;
    height: 12px;
    width: 48px;
    visibility: hidden;
}

.agogo-chase-grass-1 {
    background: url(../images/grass-1.svg);
}

.agogo-chase-grass-2 {
    background: url(../images/grass-2.svg);
}

.agogo-chase-grass-3 {
    background: url(../images/grass-3.svg);
}

.agogo-resting {
    background: url(../images/agogo-resting.svg);
}

.agogo-smell-grass {
    background: url(../images/agogo-smell-grass.svg);
}

.agogo-running {
    animation: agogo-running-keyframes .2s steps(3) infinite alternate;
}

.agogo-running.agogo-running-left {
    background: url(../images/agogo-running-left.svg) no-repeat;
}

.agogo-running.agogo-running-right {
    background: url(../images/agogo-running-right.svg) no-repeat;
}

@keyframes agogo-running-keyframes {
    from { background-position:  0px; }
    to { background-position: -288px; }
}

.agogo-eating {
    animation: agogo-eating-keyframes .2s steps(3) infinite alternate;
}

.agogo-eating.agogo-eating-left {
    background: url(../images/agogo-eating-left.svg) no-repeat;
}

.agogo-eating.agogo-eating-right {
    background: url(../images/agogo-eating-right.svg) no-repeat;
}

@keyframes agogo-eating-keyframes {
    from { background-position:  0px; }
    to { background-position: -288px; }
}

