#agogo-chase {
    position: fixed;
    height: 96px;
    width: 96px;
}

.agogo-running-left {
    background: url(../images/agogo-running-left.svg) no-repeat;
    animation: flap .4s steps(3) infinite alternate;
}

@keyframes flap {
    from { background-position:  0px; }
    to { background-position: -288px; }
}
