#agogo-chase {
    position: fixed;
    height: 96px;
    width: 96px;
}

#agogo-chase-target {
    position: fixed;
    background: red;
    height: 3px;
    width: 3px;
}

.agogo-running {
    animation: agogo-running-keyframes .2s steps(3) infinite alternate;
}

.agogo-running-left {
    background: url(../images/agogo-running-left.svg) no-repeat;
}

.agogo-running-right {
    background: url(../images/agogo-running-right.svg) no-repeat;
}

@keyframes agogo-running-keyframes {
    from { background-position:  0px; }
    to { background-position: -288px; }
}
